{% extends 'base.html' %}
{% block title %}Ecoaware Everyday Things' Site{% endblock %}
{% block javascript %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
			//var nCoffees = "{{ nCoffees|safe }}";
            var arrayCoffees = new Array()
        	google.load('visualization', '1.1', {'packages': ['bar']});
            google.setOnLoadCallback(drawChart);
            var pagenum = location.pathname.match(/\/coffeeschart\/(.*)/)[1];

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
    				  ['Fechas', 'Cafés preparados'],
    				  
    				  {% for docs in nCoffees %}
    					['{{docs.date}}',  {{docs.numcoffees}}],
    				  {% endfor %}
                ]);

                {% for docs in nCoffees %}
                    arrayCoffees.push({{docs.numcoffees}});
                {% endfor %}

                var maxDay = Math.max.apply(Math, arrayCoffees);
                var options = {
                  title: 'Número de cafés preparados en los últimos ' + pagenum + ' días',
                  bar: { groupWidth: '75%' },
                  legend: { position: 'top', maxLines: 3 },
                  vAxis: {
                        viewWindow: {
                            min: 0,
                            max: maxDay + 3
                        }, 
                        title: 'Número de cafés realizados'
                    },
                };
    
            var chart = new google.charts.Bar(document.getElementById('chart_div'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
          }
    </script>
{% endblock %}
{% block header %}Número de cafés{% endblock %}
{% block content %}
	<table border="0" width="100%">
        <tr>
        	<td width="5%">
            	<br />
                <div id="chart_div" style="width: 900px; height: 550px;" align="center">
                </div>
            </td>
        </tr>
        <tr align="center">
            <td align="center">
                <br />
                <div class="styled-select">            
                    {% if superuser %}
                    <select name="days" onchange=location.href='./'+this.value style="cursor:pointer">
                    {% else %}
                    <select name="days" onchange=location.href='./'+this.value style="cursor:pointer">
                    {% endif %}
                        <option value="20" disabled selected>Selecciona un rango de días para visualizar consumos</option> 
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </td>
        </tr>
    </table>
    
{% endblock %}
{% block login %}
	<br />
	<hr />
	<table width="100%">
    	<tr>
        	<td width="50%"><div align="left"><a href="{% url 'graphics' %}"><h4>Volver al menú GRÁFICAS</h4></a></div></td>
            <td width="50%"><div align="right"><a href="{% url 'closesession' %}">Cerrar sesión <b>{{user.username|upper}}</b></a></div></td>
        </tr>
    </table>
{% endblock %}
