{% extends 'base.html' %}
{% block title %}Ecoaware Everyday Things' Site{% endblock %}
{% block header %}Términos de uso{% endblock %}
{% block content %}
  
<p><strong style="font-weight:bold">Título del  estudio:</strong> Uso de dispositivos electrónicos compartidos en espacios comunitarios.<br />
  <strong style="font-weight:bold">Investigadores principales:</strong> Juan López de Armentia y Diego Casado  Mansilla<br />
  <strong style="font-weight:bold">Teléfonos de  contacto: </strong>944139003 | Ext. 2977 ; 652796730 (Juan);  657089618 (Diego)</p>

<p>Os invitamos a participar en el presente estudio de investigación supervisado por los doctores Diego López de Ipiña y Pablo Garaizar Sargarminaga. Os pedimos leer este documento de consentimiento con detenimiento antes de aceptar la participación en el estudio.</p>

<p><strong style="font-weight:bold">Objetivo:</strong> Estamos interesados en estudiar los hábitos y comportamientos que los trabajadores desarrollan en torno al uso de los dispositivos electrónicos de uso compartido. Es este caso, una cafetera.</p>

<p><strong style="font-weight:bold">Duración </strong> El experimento comienza a finales de abril y se desarrollará hasta finales de julio. Es posible que la recopilación de datos se extienda a las primeras semanas de septiembre.</p>
<p><strong style="font-weight:bold">Procedimiento:</strong> Al inicio del experimento, se repartirá a las personas involucradas en él una pegatina que deben pegar bajo la taza con la que normalmente toman café/té. Estas pegatinas tienen un identificador asociado que se le dará a cada participante. Las personas deben registrarse en la web apps.morelab.deusto.es/ecoaware con el identificador asignado, contestar una serie de preguntas y rellenar datos personales. </br>
A lo largo del experimento, los usuarios no tendrán que realizar ninguna modificación en el uso habitual del electrodoméstico bajo estudio (cafetera). De hecho, se pide a las personas participantes que lo utilicen de forma habitual. </br>
A mitad del experimento, el dispositivo bajo estudio será modificado para facilitar la interacción con el usuario. En una fase final del experimento, dicha interacción desaparecerá y el dispositivo quedará en el mismo estado inicial en que el usuario lo encuentra al comenzar la investigación. Al finalizar el experimento, se realizará una entrevista semi-estructurada a las personas participantes donde éstas deberán rellenar un segundo cuestionario.</p>
  
<p><strong style="font-weight:bold">Riesgos y beneficios:</strong> El experimento no comporta ningún riesgo para el participante. Los beneficios se focalizan, por un lado en el aprendizaje sobre cómo usamos los dispositivos de uso  compartido y, por otro lado, en la entrada automática en el sorteo de un premio que se elegirá por votación. Los premios candidatos son:
<ul style="margin-left:5em">
  <li type="square">Un dispositivo inteligente de medición energética para el hogar (<a href="http://www.wattio.com/sistema-wattio" target="_new">wattio</a>). </li>
  <li type="square">Un termostato inteligente para el hogar (<a href="https://nest.com/thermostat/life-with-nest-thermostat/" target="_new">nest</a>).</li>
</ul>

</p>

<p><strong style="font-weight:bold">Confidencialidad:</strong> Los datos del experimento que se va a realizar serán usados única y exclusivamente con finalidad científica. Es decir, no habrá transferencia a terceros y únicamente se usarán para realizar publicaciones en congresos o revistas del área de investigación. En el caso de las entrevistas semi-estructuradas, se podrán coger transcripciones literales y plasmarlas sobre artículos que escriban los investigadores, pero estas nunca irán asociadas a un nombre real (en tal caso se usarán seudónimos o nombres ficticios).</p>

<p><strong style="font-weight:bold">Voluntariedad de la  participación:</strong>La participación en el experimento es totalmente voluntaria. Si decides participar en el experimento, eres libre de abandonarlo en cualquier momento. En ese caso, se comunicará de forma obligatoria vía mail o telefónica a alguno de los investigadores principales. La salida del experimento conlleva la imposibilidad de participar en el sorteo final.</p>

<p><strong style="font-weight:bold">Preguntas y Contacto: </strong> Los investigadores que realizan este experimento son Juan López de Armentia y Diego Casado Mansilla. Ellos estarán disponibles de forma presencial para preguntas el día que se dé de alta la cafetera para comenzar la investigación. De igual manera, lo estarán en el ecuador del experimento y al finalizarlo. Si en algún momento se presenta una incidencia o surgen ruegos o preguntas, el teléfono de contacto es: 944139003 | Ext. 2977</p>

<p align="center"><strong style="font-weight:bold">CONSENTIMIENTO</strong></p>

<p>Se me ha explicado el procedimiento del experimento y mis dudas han sido resueltas. La información que se va a extraer en el experimento y que voy a reportar es de uso confidencial y únicamente  se usará con fines de divulgación científica. Entiendo que mi participación es voluntaria y que puedo abandonar el experimento sin penalización ninguna más allá de no optar al premio que se sorteará al finalizar el estudio.</p></br>

<script>
    function closeWindow() {
        window.close();
    }
</script>
<div align="center"><a href="javascript:closeWindow();">Cerrar ventana</a></div>

{% endblock %}
