{% extends 'base.html' %}
{% block title %}Ecoaware Everyday Things' Site{% endblock %}
{% block header %}Recupera tu contraseña{% endblock %}
{% block content %}
	<table border="0" width="100%">
    	<tr >
        	<td>
            	<br />
                <form method="post" action="{% url django.contrib.auth.views.password_reset %}"> {% csrf_token %}
                    <p>Introduce tu correo electrónico. 
                        Recibirás un enlace en tu cuenta de correo para crear una nueva contraseña.</p>               
                    <input type="email" name="email" placeholder="Tu email"><br/>
                    <button type="submit">Enviar contraseña</button>
                </form>
            </td>
        </tr>
    </table>
    <br />
{% endblock %}