{% extends 'base.html' %}
{% block title %}Ecoaware Everyday Thing's Site{% endblock %}
{% block header %}Lista de dispositivos{% endblock %}
{% block content %}
    
    <table width="380">
        <tr>
            <th width="5%"></th><th width="45%">Nombre del dispositivo</th> <th width="30%">Localización</th> <th width="20%"></th>
        </tr>
        {% for device in devices %}
        <tr>
            <td>&bull;</td><td>{{ device.name }}</td> <td>{{ device.city }}</td> <td align="center"><a href="{% url 'updateDevice' device.username %}}">Actualizar</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
{% block login %}
	<br />
	<hr />
	<table width="100%">
    	<tr>
        	<td width="50%"><div align="left"><a href="{% url 'privatehome' %}">Volver</a></div></td>
            <td width="50%"><div align="right"><a href="{% url 'closesession' %}">Cerrar sesión {{user.username|upper}}</a></div></td>
        </tr>
    </table>
{% endblock %}
