{% extends 'base.html' %}
{% block title %}Ecoaware Everyday Things' Site{% endblock %}
{% block header %}Nuevo dispositivo{% endblock %}
{% block content %}
    <form id='form' method='post' action=''>{% csrf_token %}
    	<table>
        	{{ form.as_table }}
        	<tr><th>Twitter:</th><td style="font-weight:bold">&nbsp;&nbsp;Category+Username</td></tr>
        </table>
        <p><input type='submit' value='Registrar' /></p>
    </form>
{% endblock %}
{% block login %}
	<br />
	<hr />
	<table width="100%">
    	<tr>
        	<td width="50%"><div align="left"><a href="{{domain}}/privatehome">Volver</a></div></td>
            <td width="50%"><div align="right"><a href="{{domain}}/logout">Cerrar sesión {{user.username|upper}}</a></div></td>
        </tr>
    </table>
{% endblock %}