{% extends 'base.html' %}
{% block title %}Ecoaware Everyday Thing's Site{% endblock %}
{% block header %}Nuevo usuario{% endblock %}
{% block content %}
	{% if registered %}
        <strong>¡Gracias por registrate!</strong>
        <a href="{% 'signin' %}">Vuelve a la página de inicio.</a><br />
    {% else %}
	<form id='fulluser_form'  method='post' action=''>{% csrf_token %}
            <table width="60%">
            	{{ user_form.as_table }}{{ customUser_form.as_table }}
		<tr><td></td><td><input type="checkbox" id='terms'>Acepto los <a href='{% 'conditions' %}' target='_new'>terminos de uso</a></td></tr>
            </table>
            <br />
            <table width="30%">
               <tr><td style="text-align:right;"><input type='submit' name="userregister" value='Registrar' disabled='disabled' id='endExp' /></td></tr>
            </table>
        </form>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>
            $(document).ready(function() {
                //This will check the status of radio button onload
               $('input[id=terms]').change(function() {
                 	 if (!this.checked){
      				$('#endExp').attr('disabled', 'disabled');
      		 	}
 		 	else {
     				$('#endExp').removeAttr('disabled');
    			 }
                });
            });
        </script> 
    {% endif %}
{% endblock %}
{% block login %}
	<br />
	<hr />
	{% if registered %}
    	    <br />
        {% else %}
	    <table width="100%">
    	       <tr>
                 <td width="50%"><div align="left"><a href="{% 'questionnaire' rfid '4' '6' %}">Volver</a></div></td>
                 <td width="50%"><div align="right"><a href="{% 'signin' %}">Volver a la página de inicio</a></div></td>
               </tr>
            </table>
        {% endif %}
{% endblock %}
