{% extends 'base.html' %}
{% block title %}Ecoaware Everyday Thing's Site{% endblock %}
{% block header %}Editar dispositivo{% endblock %}
{% block content %}
    <form id='form' method='post' action=''>{% csrf_token %}
    	<table>{{ form.as_table }}</table>
        <p><input type='submit' value='Register' /></p>
    </form>
{% endblock %}
{% block login %}
	<br />
	<hr />
	<table width="100%">
    	<tr>
        	<td width="50%"><div align="left"><a href="../../../device/list">Volver</a></div></td>
            <td width="50%"><div align="right"><a href="../../../logout">Cerrar sesión {{user.username|upper}}</a></div></td>
        </tr>
    </table>
{% endblock %}
