{% extends 'base.html' %}
{% block title %}Ecoaware Everyday Thing's Site{% endblock %}
{% block header %}Actualizar usuario{% endblock %}
{% block content %}
	{% if registered %}
        <strong>Tu perfil se ha actualizado correctamente.</strong>
        <a href="{% url 'privatehome' %}">Vuelve al panel principal.</a><br />
    {% else %}
        <form id='user_form' method='post' action=''>{% csrf_token %}
            <table width="40%">{{ user_form.as_table }}{{ customUser_form.as_table }}</table>
            <table width="40%"><tr><td width="45%"></td><td><input type='submit' name="updateuser" value='Actualizar' /></td></tr></table>
        </form>
    {% endif %}
{% endblock %}
{% block login %}
	<br />
	<hr />
	<table width="100%">
        <tr>
            <td width="50%"><div align="left"><a href="{% url 'privatehome' %}"><h4>Panel principal</h4></a></div></td>
            <td width="50%"><div align="right"><a href="{% url 'closesession' %}">Cerrar sesión <b>{{user.username|upper}}</b></a></div></td>
        </tr>
    </table>
{% endblock %}
